node_modules

src/public/vendor
src/public/dist

/.idea/
# Elastic Beanstalk Files
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.npm
.config
.DS_Store

logs

server/public/app\.js

server/public/notification\.js

server/public/index\.html

server/public/notification\.html
/app/node_modules/
